<div class="coinContainer">
    <table class="coinStyledTable">
        <tr class="coinTableHeader">
            <th align="left">Атрибут</th>
            <th align="left">Значение</th>
        </tr>
        <tr>
            <td>Валюта</td>
            <td><%= unit %></td>
        </tr>
        <tr>
            <td>Номинал</td>
            <td><%= value %></td>
        </tr>
        <tr>
            <td>Страна</td>
            <td><%= country %></td>
        </tr>
        <tr>
            <td>Год выпуска</td>
            <td><%= year %></td>
        </tr>
        <tr>
            <td>Комментарий</td>
            <td><%= additionalInfo %></td>
        </tr>
    </table>
    <div class="btns">
        <span id="edit" class="btn-class">Edit</span>
        <span id="delete" class="btn-class">Delete</span>
        <span id="back" class="btn-class">Back</span>
    </div>
</div>